* {
    box-sizing: border-box;
}

body {
    width: 90%;
    border: 1px solid red;
    margin: 2%;
    padding: 25px;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    height: 150px;
    display: flex;
}

.container2 {
    margin: 0;
    padding: 1%;
    width: 50%;
}

.containerAge {
    background-color: lightgray;
    width: 40%;
    line-height: 35px;
    text-align: center;
    margin: 25px 0;
    padding: 20px;
}

/************Grid 7 Column 5 Rows**********/

.column7row5 {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
    border: 1px black solid;
    grid-gap: 1px;
    background-color: black;
}

.column7row5 > span {
    background-color: white;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/************Grid 7 Column 4 Rows**********/

.column7row4 {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
    border: 1px black solid;
    grid-gap: 1px;
    background-color: black;
}

.column7row4 > span {
    background-color: white;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/************Grid 7 Column 1 Rows**********/

.column7row1 {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
    border: 1px black solid;
    grid-gap: 1px;
    background-color: black;
}

.column7row1 > span {
    background-color: white;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************Test******************/

/************Grid 7 Column 5 Rows**********/

.column7row5test {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
}

.column7row5test > span {
    border: 1px black solid;
    border-collapse: collapse;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1px -1px 0;
}

.column7row5test > .empty {
    grid-area: 1/4/4/5;
    height: 118px;
    border: none;
}

.spanTwo { grid-area: 4/1/4/3 }

.column7row5test input {
    height: 25px;
}