* {
    box-sizing: border-box;
}

body {
    width: 90%;
    min-width: 900px;
    margin: 2%;
    padding: 25px;
}

h1 {
    font-size: 7rem;
}

.containerAge h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

body > h2 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    width: 40%;
}

h3 {
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    height: 150px;
    display: flex;
}

.container2 {
    margin: 0;
    padding: 1%;
    width: 50%;
}

.containerAge {
    background-color: lightgray;
    width: 40%;
    line-height: 35px;
    text-align: center;
    margin: 25px 0;
    padding: 20px;
}

/****************Grid Layouts***************/



/************Grid 7 Column 4 Rows**********/

.column7row4 {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
}

.column7row4 > span {
    border: 1px black solid;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1px -1px 0;
}

.column7row4 > .empty {
    grid-area: 1/4/4/5;
    height: 118px;
    border: none;
}

.column7row4 > .spanTwo { grid-area: 4/1/4/3 }

.column7row4 input {
    height: 25px;
    width: 94%
}

/************Grid 7 Column 3 Rows**********/

.column7row3 {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
}

.column7row3 > span {
    border: 1px black solid;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1px -1px 0;
}

.column7row3 > .empty {
    grid-area: 1/4/3/5;
    height: 79px;
    border: none;
}

.column7row3 > .spanTwo { grid-area: 3/1/3/3 }

.column7row3 input {
    height: 25px;
    width: 94%
}

/************Grid 7 Column 4 Rows**********/
/**********Overall Score Conversion********/

.column7row4.overall {
    display: grid;
    grid-template-columns: 5fr repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
}

.column7row4.overall > span {
    border: 1px black solid;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1px -1px 0;
}

.column7row4.overall > .empty {
    grid-area: 1/3/4/4;
    height: 118px;
    border: none;
}

/* .column7row4.overall > .spanTwo { grid-area: 4/1/4/3 } */

.column7row4.overall input {
    height: 25px;
    width: 94%
}

/************Grid 7 Column 1 Rows**********/

.column7row1 {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
}

.column7row1 > span {
    border: 1px black solid;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1px -1px 0;
}

.column7row1 > .empty {
    grid-area: 1/4/1/5;
    height: 40px;
    border: none;
}

.column7row1 input {
    height: 25px;
    width: 94%
}

/****************Column Header*************/

.columnHeader {
    display: grid;
    grid-template-columns: 4fr repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
}

.columnHeader > span {
    font-weight: 600;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnHeader > span:first-child {
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

/****************Alert Colors*************/

.alertRed {
    border-color: red;
    border-style: solid;
    background-color: pink;
}

.alertText {
    color: red;
    font-weight: bold;
}

#calculationError {
    margin-left: 10px;
}


/**************Loading Animation**********/

body.progress, body.progress * {
    cursor: progress;
}
